div
  .categories
    span Features
  h5.article-title How to build a brand with raving fans.

article.story
  header.story__header
    h4.story__subtitle.onion-brand
    h2.story__title
    h6.story__author.to-uppercase By:
      span.author__name Jane Lu
  section.story__content
    figure
      img(src="", alt="Kate & Beck")
    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Est consectetur repudiandae aut facilis, nam quos debitis eligendi. Tempora reiciendis, deserunt commodi rerum dolores ut repudiandae dignissimos, sequi quae non, eveniet amet hic voluptatum adipisci excepturi animi eaque quos. Eos dolorum culpa ducimus odit quaerat aliquam. Dolorum perferendis molestias, eum excepturi maxime sequi soluta quaerat quasi quidem pariatur autem facilis consequuntur quia reprehenderit labore nulla veritatis temporibus totam. Saepe, laboriosam commodi!
    p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fuga, debitis? Reiciendis necessitatibus, iste sapiente et cumque corrupti magni nisi. Incidunt itaque blanditiis aliquid quis enim voluptas in quisquam dicta ab velit. Voluptates eius libero suscipit repellendus cum natus temporibus dicta quam voluptas non nisi, sed harum nesciunt optio, blanditiis asperiores accusantium earum a quae. Sed, atque cumque obcaecati dolorum voluptatum perspiciatis eos facere exercitationem eius vel aperiam corrupti quidem incidunt. Animi veritatis optio odit corrupti corporis? Delectus ut quos facilis animi corporis soluta adipisci dignissimos magnam error cumque nemo commodi placeat, pariatur nostrum, eveniet ex voluptas possimus quo! Enim, expedita?
    h3 Start with building your audience
    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur consequatur assumenda eligendi dolorum mollitia! Veniam reiciendis eligendi facilis at eum, nemo eveniet maiores est ipsam odio dolorum quod consequuntur pariatur ad labore perferendis, voluptatibus vel atque asperiores, quos deleniti itaque porro amet laboriosam! Placeat omnis, sed aperiam dolores voluptate quam maxime expedita? Tempore quidem eius rem ratione illo deserunt ducimus reiciendis error, voluptatum distinctio quia suscipit unde vero autem possimus ab, libero nihil veniam iusto harum sunt! Nam maiores reprehenderit consequuntur? Incidunt id iste consectetur labore asperiores perferendis adipisci itaque eum harum a. At aliquam animi voluptatibus possimus ea hic ipsam consequuntur. Necessitatibus laborum quae voluptatem magni eaque, nam commodi nulla est? Id velit, a eos alias voluptas veniam dolores.
    .image-group
      figure
        img(src="", alt="Denise's Life")
        figcaption How Denise balances her life with her work?!
      figure
        img(src="", alt="Kate & Beck")
        figcaption Learn how bobbi took a small cosmetic company to a mult-milion dollar empire
    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem at repellat tempora veritatis velit quam. Optio hic sequi rem omnis laborum facere nihil. Nesciunt totam unde quasi ea corrupti reprehenderit, cum cupiditate nam culpa saepe!
    p Lorem ipsum dolor sit amet consectetur, adipisicing elit. A, nostrum ipsum. Vitae perspiciatis praesentium corrupti error necessitatibus omnis veniam expedita voluptate pariatur, consequuntur blanditiis rerum quia, culpa sit, aliquam nam doloribus at? Optio alias, ab blanditiis accusantium repudiandae quis excepturi error dolorum. Dolorum laboriosam facilis voluptatum cupiditate, optio nulla provident labore atque pariatur at minus dolorem excepturi quam delectus quae reiciendis obcaecati ullam eligendi doloribus corrupti voluptas esse saepe velit error? Rem voluptate aspernatur repellat, alias atque consequatur ex. Culpa odit accusantium inventore fuga tenetur cumque est, accusamus quam. Reiciendis sit assumenda voluptas vitae aliquid rem eligendi possimus ea sunt officia facere ab vero, excepturi, dignissimos aut. Officiis voluptatum fugit ex asperiores qui dicta voluptatem amet architecto modi saepe, omnis consequuntur natus sit voluptatibus eligendi alias ullam reiciendis debitis nemo. Veniam incidunt facere velit.
    h3 Provide value, and then more value
    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis nam dolore consequatur id? Esse, voluptatibus laboriosam alias inventore deserunt placeat ab maxime ut. Sint consequuntur pariatur totam animi amet quia delectus quidem blanditiis? Voluptate, impedit necessitatibus libero beatae modi omnis quam corrupti harum, ratione distinctio vitae vero asperiores adipisci minima sapiente, quae corporis accusamus porro illum id? Soluta, a. Non.
    blockquote
      q It's not abou quality vs. quantity but a balance of both. It's all about consistency.
    p Lorem ipsum dolor sit amet consectetur adipisicing elit. In, quia necessitatibus. Et obcaecati sequi assumenda blanditiis aspernatur quo corporis aliquam dolor quisquam laboriosam, eligendi rerum autem, quas veritatis odit quibusdam totam enim sapiente beatae nostrum sed. At asperiores eius facere sapiente doloribus perspiciatis tempora officia culpa, magnam ut ratione molestiae modi dolor facilis explicabo velit deserunt ipsa possimus quae? Deserunt nostrum minus suscipit quasi. Voluptatum expedita possimus blanditiis commodi. Pariatur autem, asperiores, quae maxime et molestiae quo dolorum odio optio eos possimus provident ab aspernatur minus at.
    p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quae molestias laboriosam impedit dicta qui mollitia nostrum consectetur corrupti optio! Laborum eveniet itaque quis alias nobis rem laudantium. Officiis quas similique maxime, ducimus expedita, sapiente, ullam omnis totam ab mollitia corrupti itaque temporibus adipisci harum dicta.
    h3 Underestand your customer deeply
    p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repellendus quibusdam dicta et debitis error odit cumque eaque ab quo autem sint voluptate nobis, similique enim quam, inventore deleniti sequi pariatur? Reiciendis nostrum deleniti totam iste at quasi culpa saepe maxime eveniet ratione laborum voluptates repellat, voluptatum repudiandae eligendi? Molestiae, cum enim error, a repudiandae odit ratione labore doloribus sapiente fugit eveniet natus blanditiis sint nemo voluptates facere debitis praesentium neque? Exercitationem, perspiciatis nam ipsa incidunt, laudantium veritatis eaque, aliquam dicta sequi illo accusantium! Mollitia ad quam a cum laboriosam tenetur laudantium, iusto adipisci architecto qui, praesentium nulla doloremque temporibus quo aspernatur error consequatur quaerat ea libero, nobis iure molestias tempore. Quisquam amet in maiores consectetur obcaecati saepe, alias repellendus odit asperiores illum sint excepturi, nihil esse consequuntur doloremque quasi ratione exercitationem distinctio facere nisi reiciendis ad? Provident sint accusantium cumque?
    p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nostrum corporis sed, iste, ea excepturi optio natus dolore reiciendis amet suscipit quasi alias eaque dicta pariatur quaerat earum magni ad qui consectetur tempora eius? Hic minus nulla voluptatibus aperiam velit deserunt dignissimos perferendis in? Fuga explicabo repellendus harum quam, magni, error provident, debitis saepe voluptates laudantium labore eum reiciendis. Quaerat iusto fugit necessitatibus sit, expedita dolorem nam ea corrupti ducimus facilis laboriosam quae maiores dolor incidunt odit. Veritatis, quos consequatur! Placeat corrupti iure molestias vitae tenetur dolores voluptatibus maxime expedita, iste ab sed. Incidunt excepturi accusamus deserunt exercitationem animi, natus autem, rem maxime, totam saepe itaque eligendi voluptas consequatur deleniti? Esse quae natus nam recusandae voluptates!

  footer.story__footer
    .social
      p.to-uppercase Share this story
      ul
        li
          a(href="#")
            span.visually-hidden Facebook
            span(class="icon icon-facebook") 
        li
          a(href="#") 
            span.visually-hidden Instagram
            span(class="icon icon-instagram") 
        li
          a(href="#")
            span.visually-hidden Facebook
            span(class="icon icon-facebook") 
        li
          a(href="#") 
            span.visually-hidden Instagram
            span(class="icon icon-instagram") 
        li
          a(href="#")
            span.visually-hidden Facebook
            span(class="icon icon-facebook") 
        li
          a(href="#") 
            span.visually-hidden Instagram
            span(class="icon icon-instagram")     
        li
          a(href="#" id="more-social-menu") 
            span.visually-hidden More social platforms
            span(class="icon icon-3-dots")

    .related-tags
      ul
        li
          a(href="#" class="to-uppercase") Dealing with Rejection
        li
          a(href="#" class="to-uppercase") When in doubt 
        li
          a(href="#" class="to-uppercase") Failing 
        li
          a(href="#" class="to-uppercase") Leading people
            
.comment-section
  header.comment-section__header
    h4 
      span.icon-icon-comment
      span.comments-count 0
      | comments

  section.comment-section__body

section.you-might-like
  ul
    li.story
      figure.story__thumb 
        img(src="", alt="Story Thumb")
      h4.story__label 
        span.onion-brand
        | Editors Pick
      h3.story__title  
        a(href="#") InVogue run by Tessa Thompson - she shares how she shuts down naysayers
      a(href="#" class="to-uppercase") View Story
    li.story
      figure.story__thumb 
        img(src="", alt="Story Thumb")
      h4.story__label 
        span.onion-brand
        | Editors Pick
      h3.story__title  
        a(href="#") InVogue run by Tessa Thompson - she shares how she shuts down naysayers
      a(href="#" class="to-uppercase") View Story
    li.story
      figure.story__thumb 
        img(src="", alt="Story Thumb")
      h4.story__label 
        span.onion-brand
        | Editors Pick
      h3.story__title  
        a(href="#") InVogue run by Tessa Thompson - she shares how she shuts down naysayers
      a(href="#" class="to-uppercase") View Story
    li.story
      figure.story__thumb 
        img(src="", alt="Story Thumb")
      h4.story__label 
        span.onion-brand
        | Editors Pick
      h3.story__title  
        a(href="#") InVogue run by Tessa Thompson - she shares how she shuts down naysayers
      a(href="#" class="to-uppercase") View Story
    li.story
      figure.story__thumb 
        img(src="", alt="Story Thumb")
      h4.story__label 
        span.onion-brand
        | Editors Pick
      h3.story__title 
        a(href="#") InVogue run by Tessa Thompson - she shares how she shuts down naysayers
      a(href="#" class="to-uppercase") View Story
    li.story
      figure.story__thumb 
        img(src="", alt="Story Thumb")
      h4.story__label 
        span.onion-brand
        | Editors Pick
      h3.story__title  
        a(href="#") InVogue run by Tessa Thompson - she shares how she shuts down naysayers
      a(href="#" class="to-uppercase") View Story    

block config
  - var sectionDescription = "Join 23,000 founders";
include components/_why-hidden-onions   