.topics
  .container
    .topics__filter
        h2 I'am looking for business resources related to: 
        ul
          li
            a(href="#" class="to-uppercase") Showing All
          li
            a(href="#" class="to-uppercase") Dealing with rejection 
          li
            a(href="#" class="to-uppercase") When in doubt 
          li
            a(href="#" class="to-uppercase") Failing
          li
            a(href="#" class="to-uppercase") Leading people
          li
            a(href="#" class="to-uppercase") Pitching and fundraising 
          li
            a(href="#" class="to-uppercase") Scaling and growth
          li
            a(href="#" class="to-uppercase") Acquiring customers
          li
            a(href="#" class="to-uppercase") Shipping
          li
            a(href="#" class="to-uppercase") Order Fulfillment
          li
            a(href="#" class="to-uppercase") Hiring And Firing
          li
            a(href="#" class="to-uppercase") Finfing Supliers
          li
            a(href="#" class="to-uppercase") Pivoting 

    .topics__content
      .cover-stories
        .filtered-articles-status
          p Showing 
            span.filtered-articles-length 21 
            span.all-articles-length 52 
            | articles
        .story 
          .story__overview
            h4.story__topic-label.onion-brand When in doubt
              span Cover Stories
            h2.story__title InVogue run by Tessa Thompson
            p.story__subtitle She shares how she shuts down naysayers
            a(href="#" class="to-uppercase") View Story
          figure.story__image
            img(src="", alt="Story")

      .popular-resources
        ul
          li.story
            a(href='#')
              h5.story__subtitle.to-uppercase Past hidden onions
              h2.story__title Hitting rock bottom with cash flow and how to turn it round
              h4.story__topic-label.onion-brand Faling
          li.story
            a(href='#')
              h5.story__subtitle.to-uppercase Past hidden onions
              h2.story__title The ultimate checklist to make sure you're confident as a founder
              h4.story__topic-label.onion-brand When in doubt
          li.story
            a(href='#')
              h5.story__subtitle.to-uppercase Past hidden onions
              h2.story__title How to build a great culture and hire A-players
              h4.story__topic-label.onion-brand Hiring and Firing      
        
      .resources-topics
        .when-in-doubt
          h2.onion-brand When in doubt
          ul.topic__articles 
            li.article 
              h3.article__title What to do when your're ushure about your business plan
              p.article__overview Body description goes here to describe content of the post. 
              p.article__author.to-uppercase By: Jane Lue
            li.article 
              h3.article__title How to become more confident as a founder
              p.article__overview Body description goes here to describe content of the post. 
              p.article__author.to-uppercase By: Natasha Gomez
            li.article 
              h3.article__title 5 steps to a positive mindset
              p.article__overview Body description goes here to describe content of the post. 
              p.article__author.to-uppercase By: Jane Lue
            li.article 
              h3.article__title What to do when your're ushure about your business plan
              p.article__overview Body description goes here to describe content of the post. 
              p.article__author.to-uppercase By: Diya Varma
            li.article 
              h3.article__title What to do when your're ushure about your business plan
              p.article__overview Body description goes here to describe content of the post. 
              p.article__author.to-uppercase By: Jane Lue

        .rejection 
          h2.onion-brand Dealing with Rejection
          ul.topic__articles 
            li.article 
              h3.article__title How to get over rejection and succeed
              p.article__overview Body description goes here to describe content of the post. 
              p.article__author.to-uppercase By: Jane Lue
            li.article 
              h3.article__title What to do when your're ushure about your business plan
              p.article__overview Body description goes here to describe content of the post. 
              p.article__author.to-uppercase By: Jane Lue
            li.article 
              h3.article__title How to become more confident as a founder
              p.article__overview Body description goes here to describe content of the post. 
              p.article__author.to-uppercase By: Natasha Gomez
            li.article 
              h3.article__title 5 steps to a positive mindset
              p.article__overview Body description goes here to describe content of the post. 
              p.article__author.to-uppercase By: Jane Lue
            li.article 
              h3.article__title What to do when your're ushure about your business plan
              p.article__overview Body description goes here to describe content of the post. 
              p.article__author.to-uppercase By: Diya Varma
            li.article 
              h3.article__title What to do when your're ushure about your business plan
              p.article__overview Body description goes here to describe content of the post. 
              p.article__author.to-uppercase By: Jane Lue
      
      button.button.button-outline Load more resources

sections.page-section.conferences
  .container
    .conferences__wrapper
      .conference
        figure.conference__image
          img(src="", alt="Conference")
          figcaption Photo from the NYC event
        .conference__detailes
          h4.onion-brand Conferences
          h2.conference__title Female Founders Conference
          h5.conference__presentation.to-uppercase Presantor by: Y compinator
          p.conference__overview Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum, commodi reiciendis repellat, autem exercitationem sunt molestias, laudantium animi minus consequuntur nihil impedit ab harum eius eligendi velit iste eos sed. Architecto ipsum neque odio velit ex? Eum in aut commodi.
      .conference
        figure.conference__image
          img(src="", alt="Conference")
          figcaption Photo from the NYC event
        .conference__detailes
          h4.onion-brand Conferences
          h2.conference__title Female Founders Conference
          h5.conference__presentation.to-uppercase Presantor by: Y compinator
        p.conference__overview Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum, commodi reiciendis repellat, autem exercitationem sunt molestias, laudantium animi minus consequuntur nihil impedit ab harum eius eligendi velit iste eos sed. Architecto ipsum neque odio velit ex? Eum in aut commodi.
      .conference
        figure.conference__image
          img(src="", alt="Conference")
          figcaption Photo from the NYC event
        .conference__detailes
          h4.onion-brand Conferences
          h2.conference__title Female Founders Conference
          h5.conference__presentation.to-uppercase Presantor by: Y compinator
          p.conference__overview Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum, commodi reiciendis repellat, autem exercitationem sunt molestias, laudantium animi minus consequuntur nihil impedit ab harum eius eligendi velit iste eos sed. Architecto ipsum neque odio velit ex? Eum in aut commodi.
      .conference
        figure.conference__image
          img(src="", alt="Conference")
          figcaption Photo from the NYC event
        .conference__detailes
          h4.onion-brand Conferences
          h2.conference__title Female Founders Conference
          h5.conference__presentation.to-uppercase Presantor by: Y compinator
          p.conference__overview Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum, commodi reiciendis repellat, autem exercitationem sunt molestias, laudantium animi minus consequuntur nihil impedit ab harum eius eligendi velit iste eos sed. Architecto ipsum neque odio velit ex? Eum in aut commodi.
     
    .section__pagination
      button.previous
      .items
        //- index of the current conference
        .items__current-item 1
        //- conferences length
        .items__length 4
      button.next


sections.page-section.featured-resources
  .container
    h2.section-title Featured Business Resources
      ul
        li.featured
          a(href="#")
            figure.featured__thumb 
              img(src="#", alt="Thumb")
            h3.featured__title Conferences
        li.featured
          a(href="#")
            figure.featured__thumb 
              img(src="#", alt="Thumb")
            h3.featured__title Workshops 
        li.featured
          a(href="#")
            figure.featured__thumb 
              img(src="#", alt="Thumb")
            h3.featured__title Networking Events 
        li.featured
          a(href="#")
            figure.featured__thumb 
              img(src="#", alt="Thumb")
            h3.featured__title VC / Angel lists by Industry 
        li.featured
          a(href="#")
            figure.featured__thumb 
              img(src="#", alt="Thumb")
            h3.featured__title Program + Incubator New and deadlines
        li.featured
          a(href="#")
            figure.featured__thumb 
              img(src="#", alt="Thumb")
            h3.featured__title Network of Mentors
              



block config
  - var sectionTitle = "Join 23,000 founders";
include components/_why-hidden-onions            
        
        
        
