extends _index

block change
  .topics
    ul
      li
        a(href="#") Dealing with rejection 
      li
        a(href="#") When in doubt 
      li
        a(href="#") Failing
      li
        a(href="#") Leading people
      li
        a(href="#") Pitching and fundraising 
      li
        a(href="#") Scaling and growth
      li
        a(href="#") Acquiring customers
      li
        a(href="#" class="to-uppercase") View more

  section(class="page-section featured-talk")   
    .founder
      .wrapper
        .founder__overview
          h5 Real talk from female founders
          h2 Introducing the hidden onion series
          p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Possimus mollitia neque id, eligendi est explicabo adipisci. Esse sint quibusdam optio quos reiciendis amet sapiente in iure provident, tempora quidem fuga quasi culpa laboriosam delectus nulla assumenda hic voluptatum voluptatem natus.
          a(href="#" class="to-uppercase") View hidden onion series
        figure.founder__image
          img(src="", alt="Founder")

      blockquote.founder__quote
        .blockquote-wrapper
          p.to-uppercase Featured
          q My hidden onion story is when we were starting out we kind of made things up as we were going along. I was doing everything from shipping, sourcing, ordering and updating the website. It was overwhelming 14 hour, 7 days a week and I was realy burnt out. Foruanately Chantelle mu first employee and now our CMO started putting systems in place and that really saved my mental health and ultimately the business.
          h5.onion-brand.to-uppercase 
            span.font-weight-400 Chrissele Lim
            br
            span The Chrissele Factor
        
             


  section(class="page-section top-stories")
    .container
      .wrapper
        .interviews
          h2.onion-brand Interviews &amp; stories from female founders 
            a(href="#" class="to-uppercase") View All
          .story
              figure.story__image
                a(href="#") 
                  img(src="", alt="Story")
              h3.story__title 
                a(href="#") Taking a business from $0 to $5million in revenue
              p.story__subtitle Interview with Bobbi Brown founder of justBOBBI
          .story
              figure.story__image
                a(href="#") 
                  img(src="", alt="Story")
              h3.story__title 
                a(href="#") How to believe in yourself after multiple failures and near bankruptcy
              p.story__subtitle Kathryn Minshew, CEO and co-founder of The MuseCourtesy
          .story
              figure.story__image
                a(href="#") 
                  img(src="", alt="Story")
              h3.story__title 
                a(href="#") Leveraging influencers and social media for hyber growth with ecommerce brands
              p.story__subtitle Interview with Tessa Thomposn founder of fitMats
        
        .top-stories
          h2 Top Stories
          ul
            li.sorty
              figure.story__image
                a(href="#") 
                  img(src="", alt="Story")
              h3.story__title
                a(href="#") Taking a business from $0 to $5 million in revenue
              p.story__subtitle Interview with Chantell Smith founder of The Hard Rates
            li.sorty
              figure.story__image
                a(href="#") 
                  img(src="", alt="Story")
              h3.story__title
                a(href="#") What to do when toyr deep ing debt and unsure about your business trajectory and profitability
              p.story__subtitle Interview with Bobbi Brown founder of justBOBBI
            li.sorty
              figure.story__image
                a(href="#") 
                  img(src="", alt="Story")
              h3.story__title
                a(href="#") Taking a business from $0 to $5 million in revenue
              p.story__subtitle Interview with Tessa Thomposn
            li.sorty
              figure.story__image
                a(href="#") 
                  img(src="", alt="Story")
              h3.story__title
                a(href="#") Should you use credit cards as a line of credit?
              p.story__subtitle Advice from Christine &amp; Chantell

      .wrapper      
        .hero-story
            figure.hero-story__image
              img(src="", alt="Story")
            header.hero-story__header
                h4.hero-story__label.onion-brand Editors Pick
                h2.hero-story__title  
                  a(href="#") How to build a brand with raving fans. A masterclass from the founders of Smiggle.
                p.hero-story__author.to-uppercase By: Jane Lu
            section.hero-story__overview
              p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut vitae aliquid beatae perspiciatis eaque architecto facilis! Ipsa nobis quae illum voluptates sit sapiente id ab? Cumque magnam aliquam id dignissimos.

        .editors-pick
          .story
            figure.hero-story__image
              img(src="", alt="Story")
            h4.hero-story__label.onion-brand Editors Pick
            h2.hero-story__title  
              a(href="#") InVogue run by Tessa Thompson - she shares how she shuts down naysayers
            a(href="#" class="to-uppercase") View Story

          .story
            figure.hero-story__image
              img(src="", alt="Story")
            h4.hero-story__label.onion-brand Editors Pick
            h2.hero-story__title  
              a(href="#") InVogue run by Tessa Thompson - she shares how she shuts down naysayers
            a(href="#" class="to-uppercase") View Story
          
          .story.founder-quote
            figure.hero-story__image
              img(src="", alt="Story")
            h4.hero-story__label.onion-brand Founder quote
            h2.hero-story__title  
              a(href="#") InVogue run by Tessa Thompson - she shares how she shuts down naysayers
            a(href="#" class="to-uppercase") View Interview

              