main.site-content

  block change
    section.page-section.this-week
      .container.container--narrow.clearfix
        .grid-wrapper
          .featured-onion
            .featured-onion__thumb
              img(src='assets/images/this-week.png')
            .featured-onion__content
              h5.featured-onion__subtitle.to-uppercase.no-m-block Real talk from female founders
              h2.featured-onion__title
                a(href='#') The hidden onion series
              p.featured-onion__overview
                q
                  | My hidden onion story is when we were starting out we kind of made things up as we were going along. I was doing everything from shipping, sourcing, ordering and updating the website. It was overwhelming 14 hour, 7 days a week and I was realy burnt out. Foruanately Chantelle mu first employee and now our CMO started putting systems in place and that really saved my mental health and ultimately the business.
            .featured-onion__info
              .label
                h4.no-m-block.onion-brand This week 
                  br 
                  | featured onion
              .enterpreneur
                h4.enterpreneur__name.no-m-block Denise Paredes
                span.enterpreneur__tagline Founder of Equal Upresie

          .past-onions
            ul(class="list list--no-bullets past-onions")
              li.story.align-center
                a(href='#' class="onion-brand")
                  h5.story__subtitle Past hidden onions
                  h2.story__title Hitting rock bottom with cash flow 
              li.story.align-center
                a(href='#'  class="onion-brand")
                  h5.story__subtitle Past hidden onions
                  h2.story__title How we had to fire half our staff   
  
  section(class="page-section featured-women "  + currentPage)
    .container.container--narrow
      h2.page-section__title.no-m-top.align-center  These Women Failed. Literally.
      p.page-section__overview Success is the result of many ups and downs when running a business. Here we share stories of inspirational women who turned their failures into great success.
      .featured-women__inner
        .feature
          figure.feature__thumb
            a(href="#")
              img(src='assets/images/featimg-04.jpg')
              figcaption.onion-brand Growth
          .feature__content
            h3.entrepreneur__name.no-m-block Bobbi Brown
            span.entrepreneur__tagline Founder of JustBOBBI and Bobbi brown
            p.entrepreneur__overview Learn how Bobbi took a small cosmetic company to a mult-milion dollar empire and why she decided to sell it and start her new lifestyle brand.
          a(href='#' class='feature__read-more') Read Feature
        
        .feature
          figure.feature__thumb
            a(href="#")
              img(src='assets/images/featimg-05.jpg')
              figcaption.onion-brand When in doubt
          .feature__content
            h3.entrepreneur__name.no-m-block Denise Paredes
            span.entrepreneur__tagline Founder of Equal Upresie
            p.entrepreneur__overview Destined to be an entrpreneur - Learn how Denise balances her life with her work. And how to dicover if you are on the right track with your business.
          a(href='#' class='feature__read-more') Read Feature
        
        .feature
          figure.feature__thumb
            a(href="#")
              img(src='assets/images/featimg-03.jpg')
              figcaption.onion-brand Acquiring Customers
          .feature__content
            h3.entrepreneur__name.no-m-block Chole Fernanda 
            span.entrepreneur__tagline Founder of Zuba Mats
            p.entrepreneur__overview Learn how bobbi took a small cosmetic company to a mult-milion dollar empire and why she decided to sell it and start her new lifestyle brand.
          a(href='#' class='feature__read-more') Read Feature
        
        .feature
          figure.feature__thumb
            a(href="#")
              img(src='assets/images/featimg-01.jpg')
              figcaption.onion-brand leading People
          .feature__content
            h3.entrepreneur__name.no-m-block Chriselle Lim
            span.entrepreneur__tagline Founder of The Chriselle Factor
            p.entrepreneur__overview Destined to be an entrpreneur - Learn how Denise balances her life with her work. And how to dicover if you are on the right track with your business.
          a(href='#' class='feature__read-more') Read Feature       


  section(class="stories")
    div(class="page-section featured-stories clearfix "  + currentPage)
      .container.container--narrow
        .featured-stories__inner
          block editors-pick
            block config
              - var heroImg = "assets/images/img-1.jpg";
            include components/_editors-pick
            block other
              .should-read-stories
                h2 Stuff You Should Read
                ul.list.list--no-bullets
                  li.story
                    h3.story__title.no-m-block
                      a(href="#") Taking a business from $0 to $5 million in revenue
                    p.story__description Interview with Tessa Thompson founder of Rarebit.
                  li.story
                    h3.story__title.no-m-block
                      a(href="#") What to do when your deeping debt and un.latestre about your business trajectory and profitability
                    p.story__description Interview with Janet co-founder of zenOrigami
                  li.story
                    h3.story__title.no-m-block
                      a(href="#") Taking a business from $0 to $5 million in revenue
                    p.story__description Interview with Tessa Thompson founder of Rarebit.
                  li.story
                    h3.story__title.no-m-block
                      a(href="#") What to do when your deeping debt and unsure about your business trajectory and profitability
                    p.story__description Interview with Janet co-founder of zenOrigami
                  li.story
                    h3.story__title.no-m-block
                        a(href="#") Taking a business from $0 to $5 million in revenue
                    p.story__description Interview with Tessa Thompson founder of Rarebit.

    div(class="latest-stories "  + currentPage)
      .container.container--narrow
        .latest-stories__inner.page-section
          h2.page-section__title.no-m-top The Latest
          ul(class="list list--no-bullets clearfix")
            li.story
              figure.story__thumb 
                img(src="assets/images/latest-1.png", alt="Story Thumb")
              .story__overview
                h4(class="story__label no-m-top onion-brand") Editors Pick
                h3.story__title  
                  a(href="#") InVogue run by Tessa Thompson - she shares how she shuts down naysayers
                a(href="#" class="story__view-story-link") View Story

            li.story
              figure.story__thumb 
                img(src="assets/images/this-week.png", alt="Story Thumb")
              .story__overview  
                h4(class="story__label no-m-top onion-brand") Editors Pick
                h3.story__title  
                  a(href="#") InVogue run by Tessa Thompson - she shares how she shuts down naysayers
                a(href="#" class="story__view-story-link") View Story

            li.story
              figure.story__thumb 
                img(src="assets/images/latest-2.png", alt="Story Thumb")
              .story__overview
                h4(class="story__label no-m-top onion-brand") Editors Pick
                h3.story__title  
                  a(href="#") InVogue run by Tessa Thompson - she shares how she shuts down naysayers
                a(href="#" class="story__view-story-link") View Story

            li.story
              figure.story__thumb 
                img(src="assets/images/latest-3.png", alt="Story Thumb")
              .story__overview
                h4(class="story__label no-m-top onion-brand") Editors Pick
                h3.story__title  
                  a(href="#") InVogue run by Tessa Thompson - she shares how she shuts down naysayers
                a(href="#" class="story__view-story-link") View Story


            li.story
              figure.story__thumb 
                img(src="assets/images/this-week.png", alt="Story Thumb")
              .story__overview  
                h4(class="story__label no-m-top onion-brand") Editors Pick
                h3.story__title 
                  a(href="#") InVogue run by Tessa Thompson - she shares how she shuts down naysayers
                a(href="#" class="story__view-story-link") View Story

            li.story
              figure.story__thumb 
                img(src="assets/images/latest-4.png", alt="Story Thumb")
              .story__overview  
                h4(class="story__label no-m-top onion-brand") Editors Pick
                h3.story__title  
                  a(href="#") InVogue run by Tessa Thompson - she shares how she shuts down naysayers
                a(href="#" class="story__view-story-link") View Story 

          button(class="latest-stories__read-more-button button button--outline button--block-only-small button--block-center button--large-p-inline button--font-w-600 generic-hover--black")  Read more
    
    .business-resources.page-section
      .container.container--narrow
        .business-resources__inner.clearfix
          .business-resources__text
            h2.page-section__title.no-m-block Business Resources
            p We've compiled the best resources to help you build your business. Whether it's dealing with rjection, what to do when in doubt or when you are ready to scale your business to 7 figures and beyond.
          
          .business-resources__topics
            h3.no-m-top Click on a topic to find related resources and articles
            ul(class="list list--no-bullets")
              li 
                h4.to-uppercase Founder Mindset
                .topics 
                  a(href="#") Dealing with rejection 
                  a(href="#") When in doubt 
                  a(href="#") Failing
                  a(href="#") Leading people
              li 
                h4.to-uppercase Business Growth
                .topics 
                  a(href="#") Pitching and fundraising 
                  a(href="#") Scaling and growth
                  a(href="#") Acquiring customers
              li 
                h4.to-uppercase Company Managment &amp; OPS
                .topics 
                  a(href="#") Pitching and fundraising 
                  a(href="#") Hiring and firing
                  a(href="#") Finding suppliers
    
block why-hidden-onions
  block config
    - var sectionTitle = "A platform to help you guys navigate the ultra hard, build-a-business world.";
  include components/_why-hidden-onions
    