

.breadcrumbs {
  letter-spacing: .04em;
  font-size: 1rem;
  padding: 20px;

  @mixin at Small { 
    font-size: 1.2rem;
    letter-spacing: .02em;
    padding: 20px 30px;
  }

  a {
    font-weight: bold;

    & + span::before {
      content: " / ";
      color: var(--black);
    }
  }

  span { 
    color: #b2b2b2;
  }
}