.searchbox {
  display: none;

  &__trigger {
    cursor: pointer;
    padding: 1.2em 1.2em;
    line-height: 0;
    transition: box-shadow 300ms ease;

    &:hover {
      box-shadow: 0 0 0 6px var(--black);
    }

    svg {
      width: 17px;
      height: 17px;
    }
  }

  &__drawer {
    position: absolute;
    right: 0;
    background: var(--white);
    box-shadow: inset 0 0 0 7px var(--black);
    height: 100%;
    top: 0;
    width: 100%;
    max-width: 0;
    transition: all 700ms ease;
    overflow: hidden;
  }

  form {
    width: 100%;
    height: 100%;

    input[type=search] {
      width: inherit;
      height: inherit;
      @mixin button-reset;
      padding: 0 1em 0 1.6em;
      font-size: 42px;
      text-align: center;

      &::placeholder {
        color: hsl(0, 0%, 85%);
      }
    } 
  }

  &:hover {
    .searchbox__drawer {
      max-width: 2000px;
    }
  }
  
}