.searchbox {
  display: none;
  &__trigger {
    cursor: pointer;
    padding: 1.2em 1.2em;
    line-height: 0;
    transition: box-shadow 300ms ease;

    &:hover {
      box-shadow: 0 0 0 6px black;
    }

    svg {
      width: 17px;
      height: 17px;
    }
  }

  &__drawer {
    display: none;
    position: absolute;
    right: 0;
    background: #fff;
    height: 100%;
    top: 0;
    border: 6px solid;
    width: 100%;
    max-width: 0;
    transition: all 700ms ease;
    max-width: 2000px;
    overflow: hidden;
  }
}