.stories {

  .latest-stories {

    &.index-option2 { border-top: 0 }

    border-block: 1px solid var(--border-light);

    .list {
      margin: 4.9rem 0 2.5rem
    }

    .story {
      margin-bottom: 5rem;

      @mixin at Medium {
        width: 50%;
        float: left;
        margin-bottom: 8rem;
      }

      &__thumb {
        float: left;
        margin-right: 2rem;
        margin-top: 2rem;

        @mixin at Small {
          margin-top: 0;
        }

        img {
          width: 65px;
          height: 65px;
          border-radius: 50%;
          object-fit: contain;

          @mixin at Small {
            width: 122px;
            height: 122px;
          }

          @media (min-width: 767px) and (max-width: 1010px) {
            width: 100px;
            height: 100px;
          }
        }
      }

      &__overview {
        overflow: hidden;
      }

      &__label {
        font-family: 'Newt Serif', serif;
        font-weight: normal;
        font-style: italic;
        margin-bottom: .9rem;
        padding-left: 1.4em;
        @mixin font-size 1.7;


        &.onion-brand {
          background-size: 16px 16px;
          background-position: 0 4px;
        }
      }

      &__title {
        font-weight: 700;
        @mixin font-size 1.5;
        letter-spacing: .02em;
        margin: 0 0 .9rem;
        transition: border 300ms ease;

        @mixin at Medium {
          max-width: 25rem;
          margin-right: 4rem;
        }

        @mixin at Large {
          @mixin font-size 1.7
        }

        a {
          transition: all 300ms ease;
          border-bottom: 1px solid transparent;
          padding-bottom: .1em;
        }

        &:hover {
          a {
            border-bottom: 2px solid #dad2be
          }
        }
      }

      &__view-story-link {
        color: #6c6c6c;
        border-bottom: 1px solid hsl(43, 27%, 85%);
        padding-left: .1em;
        letter-spacing: .08em;
        @mixin font-size 1.1;
        display: inline-block;
        font-weight: 500;
        transition: all 300ms ease;
      }

      &:hover {
        .story__view-story-link {
          color: hsl(41, 27%, 65%);
          font-weight: bold;
        }
      }

    }

    &__read-more-button {
      @mixin font-size 1.6;

      &:hover {
        background: #000000;
        color: #ffffff;
        border-color: transparent;
        box-shadow: 0 2px 7px rgba(0, 0, 0, .25);
      }
    }
  }

  @supports (display: flex) {
    .latest-stories {
      .list {
        @mixin at Medium {
          display: flex;
          flex-wrap: wrap;
        }
      }

      .story {
        @mixin at Medium {
          width: auto;
          float: none;
          flex-basis: 50%;
        }
      }
    }
  }

  .business-resources {
    p:first-of-type {
      margin-top: 2.6rem;
      @mixin font-size 1.6;
      font-weight: 500;

      @mixin at Medium {
        max-width: 34rem;
      }
    }

    &__inner>div {
      @mixin at Medium {
        width: 50%;
        float: left;
      }
    }

    &__topics {
      margin-top: 6rem;

      @mixin at Medium {
        margin-top: 0;
      }

      h3 {
        font-weight: 500;
        @mixin font-size 1.85;
        letter-spacing: .01em;
        margin: .85rem 0 3rem;
      }

      ul {
        li {
          &:not(:last-child) {
            margin-bottom: 4rem;

            @mixin at Medium {
              margin-bottom: 0;
            }
          }

          h4 {
            @mixin font-size 1.4;
            letter-spacing: .03em;
            font-weight: 800;
            margin-bottom: 1.2rem;

            @mixin at Medium {
              @mixin font-size 1.34;
              letter-spacing: .03em;
              font-weight: 800;
            }

          }

          .topics {
            a {
              display: block;
              height: 3.85rem;
              border: 1px solid hsl(0, 0%, 69%);
              @mixin line-height 3.7;
              text-align: center;
              padding-inline: 1.9em;
              @mixin font-size 1.1;
              letter-spacing: .1em;
              font-weight: 500;
              transition: all 200ms ease;
              border-radius: 2px;

              @mixin at Medium {
                display: inline-block;
                height: 3.2rem;
                line-height: 3.2rem;
                @mixin font-size .95;
                padding-inline: 1.4em;
              }

              margin-right: 1.125rem;

              &:not(:last-child) {
                margin-bottom: 1rem;
              }

              @mixin at Large {
                &:last-child {
                  margin-right: 0
                }
              }

              &:hover {
                background-color: #000000;
                color: #ffffff;
                border-color: transparent;
                box-shadow: 0 2px 7px hsla(0, 0%, 0%, .25);
              }
            }
          }
        }
      }
    }
  }

  @supports (display: flex) {

    .business-resources {
      &__inner {

        @mixin at Medium {
          display: flex;
          justify-content: space-between;
        }

        >div {
          @mixin at Medium {
            width: auto;
            float: none;
            flex-basis: 50%;
          }
        }
      }
    }

  }

}