.stories {

  .featured-stories > div {
    @media (min-width: 836px) {
      width: 50%;
      float: left;
    }
  }

  @supports(display:flex) {
    .featured-stories {
      @media (min-width: 836px) { display: flex }
        > div {
          @media (min-width: 836px) {
            width: auto;
            float: none;
            flex-basis: 50%
          }
        }
    }
  }

  .hero-story {
    margin-bottom: 6rem;
    @media (min-width: 836px) { margin-bottom: 0 }
    
    &__image {
      max-height: 320px;
      overflow: hidden;
      margin-inline: -20px;
/*       box-shadow: 0 0 0 7px black, 0 5px 18px hsla(0, 0%, 0%, .8); */
      @mixin at Medium {
        margin-inline: 0;
      }

      
    }

    &__label {
      margin-top: 3rem;
      font-family: 'Sumana', serif;
      padding-left: 1.5em;
      @mixin font-size 1.7;
      letter-spacing: -.01em;
      font-weight: normal;

      &.onion-brand {
        background-size: 18px 18px;
        background-position: 0 4px;
      }
    }

    &__title {
      @mixin font-size 2.9;
      line-height: 1.35;
      margin-bottom: 1.5rem;
      font-weight: 600; 
      font-weight: 500;
    }

    &__author {
      letter-spacing: .1em;
      @mixin font-size 1;
      display: inline-block;
      padding-bottom: .15em;
      font-weight: 600;
    }

    &__overview {
      p {
        color: var(--grey-light);
        font-weight: 500;
        font-size: 1.4rem;
        letter-spacing: .02em;
        margin-top: .8em;
        line-height: 1.7;
        max-width: 37rem;
      }
    }
  }
}


.should-read-stories {
  @media (min-width: 836px) { padding-left: 5.3em }
  @media (min-width: 836px) and (max-width: 936px) { padding-left: 3.3em }

  h2 {
    @mixin font-size 2.9;
    font-weight: 700;
    letter-spacing: .01em;
    margin: 1.3rem 0 1.7rem 1.5rem;

  }

  ul {
    counter-reset: start-from 0
  }

  .story {
    counter-increment: start-from 1;
    padding-left: 3.2em;
    margin-bottom: .6rem;
    padding: .6em .5em .01em 3.8em;
    transition: all 200ms ease;
    position: relative;
    overflow: hidden;
    
    &:last-child { margin-bottom: 0 }

    &::before {
      content: counter(start-from);
      position: relative;
      display: inherit;
      z-index: 999;
      left: 6px;
      font-size: 44px;
      font-weight: 500;
      color: #000;
      transform: translate(-51px, -13px);
      transition: all 500ms ease;
    }

    &::after {
      content: "";
      display: block;
      position: absolute;
      left: -36px;
      top: -20px;
      background: transparent;
      width: 58px;
      height: 200px;
      transform: rotate(20deg);
      transition: all 200ms ease;
    }

    &:hover {
      box-shadow: 0 0 0 7px black;
      background: hsla(43, 28%, 80%, 1);
      &::before { color: #fff; font-size: 64px; transform: translate(-45px,-34px) rotate(20deg) }
      &::after { 
        background: #000;
        box-shadow: 0 0 15px hsla(0, 0%, 0%, .8);
      }
    }

    &__title {
      letter-spacing: .02em;
      font-weight: 800;
    }

    &__description {
      font-family: 'Sumana', serif;
      font-size: 1.2rem !important;
    }

    &__title,
    &__description {
      @mixin font-size 1.4;
      letter-spacing: .01em;
      line-height: 1.45;
    }

  }
}

.latest-stories {
  border-block: 1px solid var(--border-light);

  .list { margin: 4.9rem 0 2.5rem }

  .story {
    margin-bottom: 5rem;

    @mixin at Medium {
      width: 50%;
      float: left;
      margin-bottom: 8rem;
    }

    &__thumb {
      float: left;
      margin-right: 2rem;
      margin-top: 2rem;

      @mixin at Small {
        margin-top: 0;
      }

      img {
        width: 65px;
        height: 65px;
        border-radius: 50%;
        object-fit: contain;

        @mixin at Small {
          width: 122px;
          height: 122px;
        }

        @media (min-width: 767px) and (max-width: 1010px) {
          width: 100px;
          height: 100px;
        }
      }
    }

    &__overview {
      overflow: hidden;
    }

    &__label {
      font-family: 'Sumana', serif;
      font-weight: normal;
      font-style: italic;
      margin-bottom: .9rem;
      padding-left: 1.6em;
      @mixin font-size 1.5;


      &.onion-brand {
        background-size: 16px 16px;
        background-position: 0 4px;
      }
    }

    &__title {
      font-weight: 700;
      @mixin font-size 1.4;
      letter-spacing: .02em;
      margin: 0 0 .9rem;
                      transition: border 300ms ease;

      @mixin at Medium {
        max-width: 25rem;
        margin-right: 4rem;
      }

      @mixin at Large { @mixin font-size 1.7 }
      
      a { 
        transition: all 300ms ease;
        border-bottom: 1px solid transparent;
        padding-bottom: .1em;
       }

      &:hover {
        a { border-bottom: 1px solid hsla(43, 100%, 65%, 1) }
      }
    }

    &__view-story-link {
      color: #6c6c6c;
      border-bottom: 1px solid;
      letter-spacing: .08em;
      @mixin font-size 1.1;
      display: inline-block;
      font-weight: 500;
      transition: all 300ms ease;
      &:hover { color: #000000 }
    }

  }

  &__read-more-button {
    @mixin font-size 1.6;
    
    &:hover {
      background: #000000;
      color: #ffffff;
      border-color: transparent;
      box-shadow: 0 2px 7px rgba(0,0,0,.25);
    }
  }
}

@supports (display: flex) {
  .latest-stories {
    .list {
      @mixin at Medium {
        display: flex;
        flex-wrap: wrap;
      }
    }

    .story {      
      @mixin at Medium {
        width: auto;
        float: none;
        flex-basis: 50%;
      }
    }
  }
}

.business-resources {
  p:first-of-type {
    margin-top: 2.6rem;
    @mixin font-size 1.6;
    font-weight: 500;

    @mixin at Medium {
      max-width: 34rem;
    }
  }

  &__inner>div {
    @mixin at Medium {
      width: 50%;
      float: left;
    }
  }

  &__topics {
    margin-top: 6rem;
    
    @mixin at Medium {
     margin-top: 0;
    }

    h3 {
      font-weight: 500;
      @mixin font-size 1.85;
      letter-spacing: .01em;
      margin: .85rem 0 3rem;
    }

    ul {
      li {
        &:not(:last-child) {
          margin-bottom: 4rem;

          @mixin at Medium {
            margin-bottom: 0;
          }
        }

        h4 {
          @mixin font-size 1.4;
          letter-spacing: .03em;
          font-weight: 800;
          margin-bottom: 1.2rem;

          @mixin at Medium {
            @mixin font-size 1.34;
            letter-spacing: .03em;
            font-weight: 800;
          }

        }

        .topics {
          a {
            display: block;
            height: 3.85rem;
            border: 1px solid hsl(0, 0%, 69%);
            @mixin line-height 3.7;
            text-align: center;
            padding-inline: 1.9em;
            @mixin font-size 1.1;
            letter-spacing: .1em;
            font-weight: 500;
            transition: all 200ms ease;
            border-radius: 2px;
            
            @mixin at Medium {
              display: inline-block;
              height: 3.2rem;
              line-height: 3.2rem;         
              @mixin font-size .95;
              padding-inline: 1.4em;
            }
            
            margin-right: 1.125rem;

            &:not(:last-child) {
              margin-bottom: 1rem;
            }
            
            @mixin at Large {
              &:last-child { margin-right: 0 }
            }

            &:hover {
              background-color: #000000;
              color: #ffffff;
              border-color: transparent;
              box-shadow: 0 2px 7px hsla(0, 0%, 0%, .25);
            }
          }
        }
      }
    }
  }
}

@supports (display: flex) {

  .business-resources {
    &__inner {

      @mixin at Medium {
        display: flex;
        justify-content: space-between;
      }

      > div {
        @mixin at Medium {
          width: auto;
          float: none;
          flex-basis: 50%;
        }
      }
    }
  }

}