.featured-onion {

  @mixin at Large {
    width: 67%;
    float: left;
  }

  padding: 2em 0;
  margin-bottom: 3rem;

  &__thumb {
    @mixin at Medium {
      width: 140px;
      float: left;
      margin-right: 2rem;
    }

    text-align: center;
    margin-bottom: 3rem;

    img {
      border-radius: 50%;
    }
  }

  &__content { 
    @mixin at Medium { overflow: hidden }
    padding-bottom: 1.4em;
  }

  &__subtitle {
    @mixin font-size 1.185;
    font-weight: 500;
    letter-spacing: .04em;
  }

  &__title {
    @mixin font-size 2.8;
    @mixin at Medium { @mixin font-size 3.9; }

    letter-spacing: -.02em;
    font-weight: 700;
    margin: 1.2rem 0 2.4rem;
    line-height: 1;

    a {
      position: relative;

      &::after {
        content: "";
        display: block;
        width: 100%;
        height: 11px;
        background: hsl(43, 27%, 80%);
        position: absolute;
        bottom: 4px;
        left: 0;
        z-index: -1;
        transition: all 300ms ease;
      }
    }

    &:hover {
      a {
        &::after {
          background: hsl(43, 70%, 80%);
          height: 100%;
          bottom: 0;
        }
      }
    }
  }

  &__overview {
    color: var(--grey-light);
    @mixin font-size 1.4;
    position: relative;
    font-weight: 500;
    line-height: 1.5;
    
    @mixin at Medium { @mixin font-size 1.5 }
    @mixin at Large { max-width: 45rem }

    q:before {
      content: '\201C';
      left: -13px;
      top: -2px;
      margin-right: .2em;
    }

    q:after { content: '\201D' }

    q:before,
    q:after {
      color: #656565;
      font: italic 21px/1 Georgia, "Times New Roman", serif;
      position: absolute;
    }
  }

  &__info {
    
    > div { display: inline-block }

    @media (min-width: 454px) and (max-width: 529px) {
      display: flex
    }


    padding: 1.65em 0 0 0;
    @mixin at Small { padding: 1.65em 0 0 1.5em }
    border-top: 1px solid hsl(0, 0%, 80%);

    .label { 
      margin: 0 3rem 2rem 0;
      br { 
        display: none;
        @mixin at Small { display: block }
      }
      @mixin at Small { margin: 0 3rem 0 0 }

     }

    .enterpreneur {
      line-height: 1.4;

      &__tagline {
        font-weight: 500;
        font-family: 'Newt Serif', serif;
        @mixin font-size 1.5;
        font-style: italic;
      }
    }
    
    .label,
    .enterpreneur {
      h4 {
        font-weight: 700;
        @mixin font-size 1.42;
        line-height: 1.4;
      }
    }

    .label h4 {
        padding-left: 2.4em;
        @mixin at Small { padding-left: 2.8em }
    }

    .enterpreneur {
        padding-left: 2.4em;
        @mixin at Small { padding-left: 0 }
    }

    .label h4 {       
      &.onion-brand {     
        background-position: 0 0;
        background-size: 18px 18px;

        @mixin at Small {
          background-position: 0 9px;
          background-size: 21px 21px;
        }
      }
    }
  }
}

.past-onions {
  @mixin at Large {
    width: 230px;
    float: right;
  }

  .story {
    border: 7px solid black;
    
    &:first-child {
      margin-bottom: 3.4rem;
    }

    a {
      display: block;
      padding: .6em 1em 2.3em;
      transition: all 300ms ease;

      &.onion-brand {
        background-size: 17px 17px;
        background-position: 50% 90%;
      }

      &:hover {
        background-color: var(--bg-light);
        box-shadow: 0 5px 18px hsla(0, 0%, 0%, .8);
      }
    }

    &__subtitle {
      text-transform: uppercase;
      @mixin font-size 1.1;
      font-weight: 500;
      letter-spacing: .07em;
      margin: 0;
    }

    &__title {
      @mixin font-size 2;
      letter-spacing: -.01em;
      line-height: 1.2;
      font-weight: 500;
      font-family: 'Buenard', serif;
      margin: 1.75rem 0;
    }

  }
}


@supports (display: grid) {
  
  .this-week {
    .grid-wrapper {
      @mixin at Medium {
        display: grid;
        grid-template-columns: 1fr 230px;
        grid-column-gap: 8rem;
      }

      @media(min-width: 768px) and (max-width: 1009px) {
        grid-template-columns: 1fr;
      }
    }
  }

  .featured-onion {
    @mixin at Medium {
      display: grid;
      grid-template-columns: 132px 3fr;
      grid-column-gap: 2.4rem;
    }

    @mixin at Large {
      width: auto;
      float: none;
    }

    &__content {
      @mixin at Medium {
        overflow: initial
      }
    }

    &__thumb {
      @mixin at Medium {
        width: auto;
        float: none;
        margin-right: 0;
      }
    }

    &__info {
      @mixin at Medium {
        grid-column: 1 / -1;
      }
    }
  }

  .past-onions {
    @mixin at Large {
      width: auto;
      float: none;
    }
  }

}
