.button {
  display: inline-block;
  height: 5rem;
  @mixin line-height 4.8;
  padding-inline: 2.5em;
  border: 1px solid;
  font-family: inherit;
  cursor: pointer;
  text-align: center;
  white-space: nowrap;
  border-radius: 2px;
  /* transition: all 200ms ease; */
  background: transparent;

  &:focus {
    outline: none;
    transform: translate(1px, 1px);
    box-shadow: none;
  }
  &--plain {
    background: transparent;
    border: 0;
    line-height: 1;
    padding: 0;
    box-shadow: none;
  }
  &--primary {
    background-color: var(--primary-color);
    color: #fff;
    border-color: var(--primary-color);
  }
  &--secondary {
    background-color: #000;
    color: #fff;
    border-color: #000;
  }
  &--outline {
    background: transparent;
    box-shadow: none;
    &.button--secondary {
      color: #000;
    }
  }
  
  &--block { width: 100% }

  &--block-only-small {
    width: 100%;
    @mixin at Small { width: auto }
  }

  &--block-center {
    display: block;
    margin-inline: auto;
  }


  &--large-p-inline {
    padding-inline: 2.5em;

    @mixin at Small {
      padding-inline: 5.4em;
    }
  }

  &--font-w-100 { font-weight: 100 }
  &--font-w-200 { font-weight: 200 }
  &--font-w-300 { font-weight: 300 }
  &--font-w-400 { font-weight: 400 }
  &--font-w-500 { font-weight: 500 }
  &--font-w-600 { font-weight: 600 }
  &--font-w-700 { font-weight: 700 }
  &--font-w-800 { font-weight: 800 }
  &--font-w-900 { font-weight: 900 }

}
