/* Fonts */
@import '../stylesheets/buenard';
@import '../stylesheets/bifocals';
@import '../stylesheets/newtserif';


:root {
  --primary-font: "Bifocals", system-ui, sans-serif;
  --serif-1: "sumana", system-ui, sans-serif;
  --serif-2: "buenard", system-ui, sans-serif;
}