/* Fonts */
@import '../stylesheets/buenard';
@import '../stylesheets/bifocals';
@import '../stylesheets/newtserif';


:root {
  --primary-font: "Bifocals", system-ui, sans-serif;
  --serif-1: "Newt Serif", serif;
  --serif-2: "buenard", serif;
}