/* Fonts */
@import '../stylesheets/inter';
@import '../stylesheets/sg';
@import '../stylesheets/manrope';
@import '../stylesheets/buenard';
@import '../stylesheets/sumana';
@import '../stylesheets/kollektif';
@import '../stylesheets/bifocals';



:root {
  --primary-font: "Bifocals", system-ui, sans-serif;
  --serif-1: "sumana", system-ui, sans-serif;
  --serif-2: "buenard", system-ui, sans-serif;
}