body {
  font-family: var(--primary-font);
  font-size: 1.6rem;
  line-height: 1.6;
  background: #fff;
  color: var(--grey);
  /* -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
}

/* @supports (font-variation-settings: normal) {
  body {
    font-family: "Inter var", system-ui, sans-serif;
  }
}
 */
