extends includes/base/_base-layout

block vars
  - var page = 'How to build a brand with raving fans. | hidden onions.'
  - var cssFileName = 'App-article.css';
  - var injectName = 'article';
  
block content
  include includes/_index-article-show