extends includes/base/_base-layout

block vars
  - var page = 'Business Resources | hidden onions.';
    - var cssFileName = 'App-resources.css';
  - var injectName = 'resources';

block content
  include includes/_index-resources
