extends includes/base/_base-layout

block vars
  - var page = 'hidden onions.';
  - var currentPage = "index-option2";
  - var cssFileName = 'App-index2.css';
  - var injectName = 'index2';
  
block content
  include includes/_index-option2

