block config

.hero-story
  figure.hero-story__image
    block hero-story-img
      img(src=heroImg, alt="Story Thumb")
  header.hero-story__header
      h4.hero-story__label.no-m-bottom.onion-brand
        | Featured Story
      h2.hero-story__title  
        a(href="#") How to build a brand with raving fans. A masterclass from the founders of Smiggle.
      p.hero-story__author.to-uppercase By: Jane Lu
  section.hero-story__overview
    p.no-m-bottom Lorem iplatestm dolor sit amet, consectetur adipisicing elit. Aut vitae aliquid beatae perspiciatis eaque architecto facilis! Ipsa nobis quae illum voluptates sit sapiente id ab? Cumque magnam aliquam id dignissimos.

block other
  