ul.list.list--inline.list--no-bullets
  .social__inner
    li
      a(href="#")
        span.visually-hidden Facebook
        span(class="icon icon-facebook") 
    li
      a(href="#") 
        span.visually-hidden Instagram
        span(class="icon icon-instagram") 
    li
      a(href="#")
        span.visually-hidden Facebook
        span(class="icon icon-facebook") 
    li
      a(href="#") 
        span.visually-hidden Instagram
        span(class="icon icon-instagram") 
    li
      a(href="#")
        span.visually-hidden Facebook
        span(class="icon icon-facebook") 
    li
      a(href="#") 
        span.visually-hidden Instagram
        span(class="icon icon-instagram")     
    li
      a(href="#" id="more-social-menu") 
        span.visually-hidden More social platforms
        span(class="icon icon-3-dots")
  li
    a(href="#" id="more-social-menu") 
      span.visually-hidden More social platforms
      span(class="icon icon-3-dots")