section(class="page-section why-hidden-onions")
  .container.container--narrow
    h4(class="page-section__title align-center m-auto--inline no-m-top")
      | #{sectionTitle}

    .hidden-onions-colophon.clearfix
      figure
        img(src="assets/images/why-hi.gif", alt="Why Hidden Onions")
      .wrapper
        h4.to-uppercase Why we do what we do
        p Why hidden onions? Because there was bothing like us out there. To share stories and the real behind the scenes experiences of established and startup female founders.
        p We operate as a platform to help women build their businesses. Building a community of like minded entrepreneurs sharing their success, struggles and strategies.
        a(href="#" class="join-newsletter-link") Join our weekly newsletter