footer.site-footer
  .container
  
    .site-footer__inner.clearfix
      .site-footer__contact
        h4.no-m-block For media enquiries 
        p contact@hiddenonions.com
    
      .site-footer__brand.align-center--atMedium
        img(src="assets/images/icons/onion-brand-xl.png", alt="hidden onions")
        h3.no-m-bottom hidden onions.

      .site-footer__social.align-end--atMedium
        h4.no-m-top Follow us on:
        ul.list.list--inline.list--no-bullets
          li
            a(href="#")
              span.visually-hidden Facebook
              span(class="icon icon-facebook") 
          li
            a(href="#") 
              span.visually-hidden Instagram
              span(class="icon icon-instagram") 
          li
            a(href="#") 
              span.visually-hidden Twitter
              span(class="icon icon-twitter")         
      
    .site-footer__copyright.align-center--atMedium
      p(class="copy to-uppercase no-m-bottom") Hidden onions copyright. All rights reserved 2018. View our 
        a(href="#") Privacy Policy
        | .