.display-block {
  
  &--atSmall {
    @mixin at Small {
      display: block;
    }
  }

  &--atMedium {
    @mixin at Medium {
      display: block;
    }
  }
  
  &--atLarge {
    @mixin at Large {
      display: block;
    }
  }
}

